{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Reset Password</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Password Reset</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
<div class="content-section ">

</div>
<div class="whole-wrap">
    <div class="container">
<div class="section-top-border">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <!--<h3 class="mb-30 title_color">Reset Password</h3>-->
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>  
                </div> 
            </form>
        </div>
        <div class="col-lg-3 col-md-4 mt-sm-30 element-wrap">

            <div class="single-element-widget">
                <h3 class="mb-30 title_color">Radios</h3>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>01. Sample radio</p>
                    <div class="primary-radio">
                        <input type="checkbox" id="default-radio">
                        <label for="default-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>02. Primary Color radio</p>
                    <div class="primary-radio">
                        <input type="checkbox" id="primary-radio" checked>
                        <label for="primary-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>03. Confirm Color radio</p>
                    <div class="confirm-radio">
                        <input type="checkbox" id="confirm-radio" checked>
                        <label for="confirm-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>04. Disabled radio</p>
                    <div class="disabled-radio">
                        <input type="checkbox" id="disabled-radio" disabled>
                        <label for="disabled-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>05. Disabled radio active</p>
                    <div class="disabled-radio">
                        <input type="checkbox" id="disabled-radio-active" checked disabled>
                        <label for="disabled-radio-active"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}