{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
                <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                  <h1> <a class="navbar-brand logo_h" href="{% url 'blog-home'%}">
                        <!--<img src="{% static 'image/Logo.png' %}" alt="">-->
                        RWAMUGYENYI HERITAGE HOTEL
                    </a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="{% url 'blog-home'%}">Home</a></li> 
                            <li class="nav-item "><a class="nav-link" href="{% url 'blog-about'%}">About us</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog-accomodation'%}">Accomodation</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog-gallery'%}">Gallery</a></li>
                            <li class="nav-item active submenu dropdown">
                                <a href="{% url 'blog-blog'%}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'blog-blog'%}">Blog</a></li>
                                    {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'post-create'%}">Create Post </a></li>
                                    {% endif %}
 
                                </ul>
                            </li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
                                <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'profile'%}">Profile</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Logout</a></li>
                                    {% else %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'register'%}">Register</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Elemests</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Reset Password done</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Reset Done</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
<div class="content-section ">

</div>
<div class="whole-wrap">
    <div class="container">
<div class="section-top-border">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h3 class="mb-30 title_color"> Reset Password Done</h3>

                <div class="alert alert-info">
                        An Email has been sent with instructions to reset your Password
                </div>

        </div>
        <div class="col-lg-3 col-md-4 mt-sm-30 element-wrap">

            <div class="single-element-widget">
                <h3 class="mb-30 title_color">Radios</h3>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>01. Sample radio</p>
                    <div class="primary-radio">
                        <input type="checkbox" id="default-radio">
                        <label for="default-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>02. Primary Color radio</p>
                    <div class="primary-radio">
                        <input type="checkbox" id="primary-radio" checked>
                        <label for="primary-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>03. Confirm Color radio</p>
                    <div class="confirm-radio">
                        <input type="checkbox" id="confirm-radio" checked>
                        <label for="confirm-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>04. Disabled radio</p>
                    <div class="disabled-radio">
                        <input type="checkbox" id="disabled-radio" disabled>
                        <label for="disabled-radio"></label>
                    </div>
                </div>
                <div class="switch-wrap d-flex justify-content-between">
                    <p>05. Disabled radio active</p>
                    <div class="disabled-radio">
                        <input type="checkbox" id="disabled-radio-active" checked disabled>
                        <label for="disabled-radio-active"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}